html, body {
    max-width: 1620px;
	margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgb(24 23 23);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration : none;
}

a:hover {
    color: #24b6a9;
}

a:active{
    color : #24b6a9;
}

span{
    color: gray;
}