html, body {
    max-width: 1440px;
	margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 33, 36);
    /* background-color: rgb(24 23 23); */
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}
p{
    font-size: 16px;
    text-align: inherit;
}
a{
    color: white;
    text-decoration : none;
    cursor: pointer
}
a:hover {
    color: #24b6a9;
}

a:active{
    color : #24b6a9;
}
span{
    color: gray;
}
input{
    cursor: pointer;
    font-size: 18px;
}
label{
    color: #24b6a9;
}
textarea{
    cursor: pointer;
}
button{
    cursor: pointer;
}
svg:hover{
    color: #24b6a9;
 
    transform: scale(1.05);
    transition: all 400ms ease;
}
svg:active{
    color: #24b6a9;
    transform: scale(1.05);
    transition: all 400ms ease;
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;   
    }
    textarea{
        font-size: 14px;
    }

    button{
        font-size: 16px;
    }
    label{
        font-size: 14px;
    }
}

